version: "3.9"

networks:
  mqtt_network:
    driver: bridge

services:
  mosquitto:
    image: eclipse-mosquitto:2
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/config/mosquitto.conf:/mosquitto/config/mosquitto.conf
    networks:
      - mqtt_network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - mqtt_network

  influxdb:
    image: influxdb:2.7
    container_name: influxdb
    ports:
      - "8086:8086"
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=admin
      - DOCKER_INFLUXDB_INIT_PASSWORD=admin123
      - DOCKER_INFLUXDB_INIT_ORG=my-org
      - DOCKER_INFLUXDB_INIT_BUCKET=rigs
      - DOCKER_INFLUXDB_INIT_RETENTION=30d
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=my-fixed-token-123
    volumes:
      - ./data/influxdb:/var/lib/influxdb2
    networks:
      - mqtt_network

  producer:
    build:
      context: ./producer
      dockerfile: Dockerfile
    container_name: producer
    command: ["python", "app.py"]
    depends_on:
      - mosquitto
    environment:
      - MQTT_HOST=mosquitto
      - MQTT_PORT=1883
    networks:
      - mqtt_network

  ingester:
    build:
      context: ./ingester
      dockerfile: Dockerfile
    container_name: ingester
    command: ["python", "app.py"]
    depends_on:
      - mosquitto
      - redis
    environment:
      - MQTT_HOST=mosquitto
      - MQTT_PORT=1883
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - mqtt_network

  transformer:
    build:
      context: ./Transformer
      dockerfile: Dockerfile
    container_name: transformer
    command: ["python", "app.py"]
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    networks:
      - mqtt_network

  sink:
    build:
      context: ./sink
      dockerfile: Dockerfile
    container_name: sink
    depends_on:
      - redis
      - influxdb
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - INFLUX_URL=http://influxdb:8086
      - INFLUX_TOKEN=my-fixed-token-123
      - INFLUX_ORG=my-org
      - INFLUX_BUCKET=rigs
    networks:
      - mqtt_network


  notebook:
    build:
      context: ./notebooks
      dockerfile: Dockerfile
    container_name: notebook
    ports:
      - "8888:8888"
    volumes:
      - ./notebooks:/home/jovyan/work
    environment:
      JUPYTER_ENABLE_LAB: "yes"
      REDIS_HOST: redis
      REDIS_PORT: 6379
      INFLUX_URL: http://influxdb:8086
      INFLUX_TOKEN: my-fixed-token-123
      INFLUX_ORG: my-org
      INFLUX_BUCKET: rigs
    depends_on:
      - influxdb
      - redis
    networks:
      - mqtt_network



